:root{
    /* Variable NavBar */
    --navbar-color: rgb(30, 30, 30);
    --navbar-text-color: white;
    --navbar-text-actual-color: #ec5727;
}

body {
    background-image: url('Img/FireWatch.jpg');
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    font-family: Kanit;
}



.auteur{
    color: var(--navbar-text-color);
    justify-content: center;
    align-items: center;
    margin: auto; /* Center horizontally */
}


body {
    background-image: url('FireWatch.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#CarouselAnkama{
    padding-top: 50px;
}

#Titre_Page{
    text-align: center; 
    color:white; 
    background-color: black;
    font-size: 45px; 
    padding:0 1.25em;
}

#Descriptif{
    text-align: justify; 
    color:black; 
    background-color: white; 
    font-size: 20px;
    padding:0 1.25em;
    width: 100%
    
}


footer {
    background-color: var(--navbar-color);
    color: var(--navbar-text-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color :white;
    text-decoration: none;
    margin:0;
}