body {
    background-image: url('../SAE-0506/Img/FireWatch.jpg');
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white; /* Set background to white */
    height: 50%; /* Increase height */
}

.flexbox {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flexbox .image-container {
    width: 50%;
}

.flexbox .image-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.flexbox .text-container {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

