body {
    background-image: url('fondvieent.jpg');
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.box {
    border: 2px solid #f5e9ae;
    border-radius: 10px;
    background-color: #da9b55;
}

.small-rect {
    width: 300px;
    height: 300px;
}

.large-rect {
    width: 65%;
    height: 300px;
    padding: 20px;
    grid-column: span 2;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
}
