:root{
    /* Variable NavBar */
    --navbar-color: rgb(30, 30, 30);
    --navbar-text-color: white;
    --navbar-text-actual-color: #ec5727;
}




body{
    margin: 0;
    padding: 0;
    font-family: Kanit;
    /*background-color: #ffcd88;*/
    background-image: url('fond.png'); 
    background-size: cover; 
    font-size: 20px;
}





.frise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-bottom: 130px;
    padding-left: 150px;
    padding-right: 150px;
}

.box{
    display: flex;
    gap: 150px;
    justify-content: space-between;
}


.titre{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #da9b55;
}

.titre>img:hover{
    transform: scale(1.1);
    transition: 1500ms;
}


.txt{
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #da9b55;
    align-items: center;
    font-size: 20px;
}


h1{
    font-family: Poppins;
    margin: 0px;
    color: darkblue;
    font-size: 45px;
    font-weight: bold;
}

h2{
    font-family: Poppins;
    margin: 0px;
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
}

.content{
    font-family: Poppins;
    text-align: justify;
}

.info{
    display: flex;
    flex-direction: row;
}


.trmedia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    
    /*background-color: #ec5727;*/
}

.descriptiontransmedia{
    background-color: #da9b55;
    color: #373737;
    font-family: Poppins;
    font-size: 20px;
    padding: 9px;
    border-radius: 0px 0px 7px 7px;
    align-items: flex-end;
    text-align: justify;
}

.titlecontainer{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    background-color: #da9b55;
    align-items: center;
    text-align: center;
    padding: 25px;
    border-radius: 7px 7px 0px 0px;
}

.categorie{
    /*background-color: aqua;*/
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    /*background-color: aqua;*/
}

.placement{
    display: flex;
    justify-content: center;
}

.secteur{
    background-color: #da9b55;
    margin-top: 25px;
    margin-right: 650px;
    text-align: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
    border: 3px solid black;
    border-radius: 6px;
}

.secteur2{
    background-color: white;
    margin-top: 25px;
    margin-right: 650px;
    text-align: center;
    align-items: center;
    padding: 8px 8px 8px 8px;
    margin-left: 50px;
    border: 3px solid black;
    border-radius: 6px;
}


.secteur>h2{
    margin-bottom: 0px;
}


.contcate{
    background-color: #8bb749;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: solid #e0a93f;
    font-size: 35px;
}

.contcate:hover{
    background-color: #009593;
    border: solid black;
}

.contcate>a{
    color: black;
    font-weight: bold;
    font-family: Poppins;
}

.contcate>a:hover{
    color: white;
}



.vieuxlogo{
    height: 130px;
    /*width: 185px;*/
    margin: auto;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #333; 
    padding: 10px 0; 
}

.footer-content p {
    margin: 0;
    font-family: Poppins;
}


.merch{
    background-color: #da9b55;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}