:root{
    /* Variable NavBar */
    --navbar-color: rgb(30, 30, 30);
    --navbar-text-color: white;
    --navbar-text-actual-color: #ec5727;
    --background-color: #f5e9ae;
    --content-color: #da9b55;
}

body{
    margin: 0px;
    padding: 0;
    font-family: Kanit;
    line-height: 1.6;
    background-color: var(--background-color);
}

.espace{
    height: 100px;
    background-color: var(--background-color);
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    border-radius: 20px;
    padding-top: 30px;
    background-color: var(--content-color);
}

.navImageBar{
    display: flex;
    background-color: var(--background-color);
    margin-left: 10%;
    margin-right: 10%;
}

.navImage{
    position: static;
    width: calc(100% / 5);
    height: width;
}

.info1{
    display: flex;
    margin-top: 70px;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
}

.info1-image{
    margin-right: 50px;
    width: 40%;
    height: 40%;
    border-radius: 50px;
}

.info2{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

.info2-image{
    margin-left: 50px;
    width: 40%;
    height: 40%;
    border-radius: 50px;
}

.zoneTitre1{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 50px;
}

.auteur{
    color: var(--navbar-text-color);
    justify-content: center;
    align-items: center;
    margin: auto; /* Center horizontally */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white; /* Set text color to white */
    background-color: #333; /* Set background color to dark gray */
    padding: 10px 0; /* Add padding for better spacing */
}

footer p {
    margin: 0;
}
